/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  box-sizing: border-box;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "JosefinSans-Light";
  src: local("JosefinSans-Light"), url("../fonts/JosefinSans-Light/JosefinSans-Light.ttf") format("ttf"), url("../fonts/JosefinSans-Light/JosefinSans-Light.woff") format("woff"), url("../fonts/JosefinSans-Light/JosefinSans-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans-Bold";
  src: local("JosefinSans-Bold"), url("../fonts/JosefinSans-Bold/JosefinSans-Bold.ttf") format("ttf"), url("../fonts/JosefinSans-Bold/JosefinSans-Bold.woff") format("woff"), url("../fonts/JosefinSans-Bold/JosefinSans-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Aleo-Regular";
  src: local("Aleo-Regular"), url("../fonts/Aleo-Regular/Aleo-Regular.ttf") format("ttf"), url("../fonts/Aleo-Regular/Aleo-Regular.woff") format("woff"), url("../fonts/Aleo-Regular/Aleo-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  font-family: "Aleo-Regular";
  color: #fff;
}

@media screen and (max-width: 1200px) {
  body .menu,
body .choose,
body .instruction,
body .book,
body .tourist {
    padding: 20px;
  }
  body .bhromaon {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-bottom: 40px;
  }
}
.bhromaon {
  padding: 16% calc(50vw - 555px);
  padding-bottom: 0;
  background: url("../img/Backgaund-header.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.bhromaon__title {
  text-align: center;
  font-family: "JosefinSans-Bold";
  font-size: calc(24px + 24 * (100vw / 1770));
  text-transform: uppercase;
  letter-spacing: 5px;
}
.bhromaon__subtitle {
  margin-bottom: 50px;
  text-align: center;
  font-family: "JosefinSans-Light";
  font-size: calc(14px + 8 * (100vw / 1770));
  text-transform: capitalize;
  letter-spacing: 7px;
}
.bhromaon__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  height: 60px;
  margin: 0 auto;
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  .bhromaon__form {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .bhromaon__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: none;
    height: 100px;
  }
  .bhromaon__form-search {
    width: 100%;
    margin-bottom: 10px;
  }
}
.bhromaon__form-search {
  flex-grow: 1;
  border: none;
  outline: none;
  text-align: center;
}
.bhromaon__form-search:focus {
  border: 4px solid #60d660;
}
.bhromaon__form-search::-moz-placeholder {
  font-family: "JosefinSans-Light";
  font-size: calc(10px + 4 * (100vw / 1770));
  color: #c2c2c2;
  letter-spacing: 2px;
}
.bhromaon__form-search:-ms-input-placeholder {
  font-family: "JosefinSans-Light";
  font-size: calc(10px + 4 * (100vw / 1770));
  color: #c2c2c2;
  letter-spacing: 2px;
}
.bhromaon__form-search::placeholder {
  font-family: "JosefinSans-Light";
  font-size: calc(10px + 4 * (100vw / 1770));
  color: #c2c2c2;
  letter-spacing: 2px;
}
.bhromaon__form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 0.5%;
  height: 50px;
  width: 145px;
  border: none;
  outline: none;
  background-color: #5474fd;
  text-transform: uppercase;
  color: #fff;
}
.bhromaon__form-button-svg {
  height: 20px;
  width: 20px;
  fill: #fff;
  margin-left: 15px;
}
.bhromaon__form-button:hover {
  color: #60d660;
}
.bhromaon__form-button:hover .bhromaon__form-button-svg {
  fill: #60d660;
}
.bhromaon__scroll {
  margin-top: 16%;
  text-align: center;
}
.bhromaon__scroll-text {
  font-family: "JosefinSans-Light";
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.bhromaon__scroll-svg {
  width: 15px;
  height: 10px;
  fill: #fff;
}

.main {
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 0px calc(50vw - 555px);
  height: 80px;
  background-color: #5474fd;
}
.menu__title {
  font-family: "JosefinSans-Bold";
  font-size: calc(16px + 8 * (100vw / 1770));
  text-transform: uppercase;
  letter-spacing: 5px;
}
.menu #burger-menu {
  display: none;
}
.menu__burger {
  display: none;
}
@media screen and (max-width: 992px) {
  .menu__burger {
    display: flex;
    vertical-align: middle;
    position: absolute;
    top: auto;
    right: 25px;
    width: 35px;
    height: 35px;
    transition: 0.2s;
    z-index: 1;
  }
  .menu__burger-line {
    margin: auto 0;
    height: 4px;
    width: 35px;
    border-radius: 5px;
    background-color: #fff;
  }
  .menu__burger::after, .menu__burger::before {
    content: "";
    position: absolute;
    top: 5px;
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
  }
  .menu__burger::after {
    top: 25px;
  }
}
@media screen and (max-width: 992px) {
  #burger-menu:checked + .menu__burger {
    transform: rotate(45deg);
  }
  #burger-menu:checked + .menu__burger::before {
    transform: rotate(90deg);
    top: 16px;
  }
  #burger-menu:checked + .menu__burger::after {
    display: none;
  }
  #burger-menu:checked ~ .menu__nav {
    left: 0;
  }
  #burger-menu:checked ~ .menu__nav > .menu__nav-ul > .menu__nav-ul-block {
    left: 0;
  }
}
.menu__nav {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .menu__nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -200vw;
    background-color: rgba(84, 115, 253, 0.74);
    transition: 0.2s;
    z-index: -1;
  }
}
@media screen and (max-width: 992px) and (max-width: 576px) {
  .menu__nav {
    z-index: 0;
  }
}
.menu__nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .menu__nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__nav-ul-block {
    position: relative;
    left: -200vw;
    text-align: center;
    width: 200px;
    padding: 40px 0;
    margin: 20px;
    border-radius: 92% 8% 46% 54%/25% 59% 41% 75%;
    background: linear-gradient(45deg, #555454 34%, #333333 67%);
  }
}
@media screen and (max-width: 992px) and (max-width: 576px) {
  .menu__nav-ul-block {
    width: 150px;
    padding: 20px 0;
    font-size: 10px;
  }
}
@media screen and (max-width: 992px) {
  .menu__nav-ul #who-we-are {
    transition: 0.4s;
  }
}
@media screen and (max-width: 992px) {
  .menu__nav-ul #what-we-do {
    transition: 0.6s;
  }
}
@media screen and (max-width: 992px) {
  .menu__nav-ul #travel-with-us {
    transition: 0.8s;
  }
}
@media screen and (max-width: 992px) {
  .menu__nav-ul #contact-us {
    transition: 1s;
  }
}
.menu__nav .ul-block {
  list-style-type: none;
}
.menu__nav .ul-block-link {
  font-size: 14px;
  text-transform: uppercase;
}
.menu__nav .ul-block:hover > .ul-block-link {
  color: #60d660;
}

.choose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7% calc(50vw - 555px);
  background: url("../img/Explore-background.png") no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 576px) {
  .choose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .choose__info-button {
    margin: 0 auto;
  }
}
.choose__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  flex-basis: 50%;
}
.choose__info-title {
  margin-bottom: 60px;
  font-size: calc(24px + 12 * (100vw / 1770));
}
@media screen and (max-width: 768px) {
  .choose__info-title {
    margin-bottom: 30px;
  }
}
.choose__info-about {
  margin-bottom: 45px;
  font-family: "JosefinSans-Light";
  font-size: calc(12px + 4 * (100vw / 1770));
}
.choose__info-button {
  width: 225px;
  height: 50px;
  border: none;
  outline: none;
  background: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
  font-size: calc(12px + 4 * (100vw / 1770));
  text-transform: uppercase;
  color: #fff;
}
.choose__info-button:hover {
  background: linear-gradient(45deg, #5474fd 60%, #496bfe 60%);
}
.choose__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  flex-basis: 50%;
  min-width: 200px;
}
.choose__picture-left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.choose__picture-left-img {
  width: 70%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose__picture-right {
  display: flex;
  justify-content: flex-end;
}
.choose__picture-right-img {
  width: 70%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 576px) {
  .choose__picture-left, .choose__picture-right {
    justify-content: center;
  }
  .choose__picture-left-img, .choose__picture-right-img {
    width: 90%;
  }
}

.instruction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7% calc(50vw - 555px);
  background-color: #333;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .instruction {
    flex-wrap: wrap;
  }
}
.instruction__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 320px;
  margin: 20px;
}
.instruction__content-block {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  background-color: #333;
}
.instruction__content-block-svg {
  width: 100%;
  height: 100%;
}
.instruction__content #magnifier {
  fill: #5474fd;
}
.instruction__content #accept {
  fill: #ff6363;
}
.instruction__content #ok {
  fill: #00a2ff;
}
.instruction__content-about {
  padding-top: 80px;
  font-size: calc(24px + 12 * (100vw / 1770));
  text-transform: capitalize;
}
.instruction::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 640px;
  height: 80%;
  background: url(../img/Shape.png) no-repeat;
  background-size: contain;
  background-position: center 30%;
}
@media screen and (max-width: 1200px) {
  .instruction::before {
    display: none;
  }
}

.book {
  padding: 14% calc(50vw - 555px);
  padding-bottom: 7%;
}
.book__info {
  flex-basis: 50%;
  padding: 35px;
  background-color: rgba(41, 36, 35, 0.906);
  font-family: "JosefinSans-Light";
  font-size: calc(14px + 6 * (100vw / 1770));
}
@media screen and (max-width: 576px) {
  .book__info {
    padding: 20px;
  }
}
.book__info-country {
  margin-bottom: 30px;
}
.book__info-title {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.book__info-about {
  font-size: calc(12px + 4 * (100vw / 1770));
  line-height: 1.5;
  margin-bottom: 30px;
}
.book__info-button {
  width: 225px;
  height: 50px;
  border: none;
  outline: none;
  background: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
  font-size: calc(12px + 4 * (100vw / 1770));
  text-transform: uppercase;
  color: #fff;
}
.book__info-button:hover {
  background: linear-gradient(45deg, #5474fd 60%, #496bfe 60%);
}

.book-first {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: url("../img/book-1-background.png") no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 576px) {
  .book-first {
    justify-content: center;
  }
}

.book-second {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: url("../img/book-2-background.png") no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 576px) {
  .book-second {
    justify-content: center;
  }
}

.tourist {
  padding: 7% calc(50vw - 555px);
  padding-bottom: 14%;
  text-align: center;
  background: url("../img/Tourist-background.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.tourist__title {
  margin-bottom: 65px;
  font-size: calc(24px + 12 * (100vw / 1770));
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .tourist__title {
    margin-top: 10px;
    margin-bottom: 35px;
  }
}
.tourist__say {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333;
}
.tourist__say-picture {
  width: 40%;
}
.tourist__say-picture-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tourist__say .say-info {
  width: 60%;
  padding: 40px;
  font-family: "JosefinSans-Light";
}
.tourist__say .say-info__name {
  font-size: calc(14px + 6 * (100vw / 1770));
  text-transform: uppercase;
  margin-bottom: 35px;
}
.tourist__say .say-info__about {
  font-size: calc(12px + 4 * (100vw / 1770));
  line-height: 1.5;
  margin-bottom: 30px;
}
.tourist__say .say-info__about-quote {
  padding-bottom: 10px;
  padding-right: 5px;
  width: 30px;
  height: 30px;
  fill: #5474fd;
}
@media screen and (max-width: 768px) {
  .tourist__say {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tourist__say-picture {
    width: 100%;
  }
  .tourist__say .say-info {
    width: 100%;
    padding: 10px;
  }
}

.footer {
  padding: 7% calc(50vw - 555px);
  padding-bottom: 3%;
  background-color: #232323;
  text-align: center;
}
.footer__title {
  font-family: "JosefinSans-Bold";
  font-size: calc(16px + 8 * (100vw / 1770));
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer__subtitle {
  font-family: "JosefinSans-Light";
  font-size: calc(12px + 4 * (100vw / 1770));
  text-transform: capitalize;
  margin-bottom: 25px;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}
.footer__social-link {
  width: 15px;
  height: 20px;
}
.footer__social-link-svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.footer__social-link #facebook:hover {
  fill: #2b43ad;
}
.footer__social-link #twitter:hover {
  fill: #0fafaf;
}
.footer__social-link #linkedin:hover {
  fill: #3663e0;
}
.footer__social-link #youtube:hover {
  fill: #ff0000;
}
.footer__social-link #pinterest:hover {
  fill: #db4d4d;
}/*# sourceMappingURL=main.css.map */